.App {
  text-align: center;
  min-height: 30vh;
}
nav{
  position: sticky;
  top:0;
  left:0;
  right:0;
  padding:1%;
  border-bottom: 1px solid rosybrown;
}
li{
  list-style-type: none;
  display: inline-block;
  margin:0 2%;
}
.sun{
  fill:yellow
}
.moon{
  fill:blue;
}
.cloud{
  fill:#eee;
}



